<%= bootstrap_form_for @team, :html => { :class => "form-horizontal team" } do |f| %>

  <% if @team.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@team.errors.count, t(:error)) %> <%= t :warn_save %></h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @team.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
  <% end %>

 <div class="panel panel-default">
    <div class="panel-heading">
      Preencha os campos abaixo
    </div><br/>

      <div class="control-group">
        <div class="controls">
          <%= f.text_field :description, :class => 'form-control' %>
        </div>
        <%= error_span(@team[:description]) %>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.text_field :full_description, :class => 'form-control' %>
        </div>
        <%= error_span(@team[:full_description]) %>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.file_field :crest, :class => 'form-control' %>
        </div>
        <%= error_span(@team[:crest]) %>
      </div>

     <%= f.submit nil, :class => 'btn btn-primary square-btn-adjust' %>
     <%= link_to t('.cancel', :default => t("helpers.links.cancel")), teams_path, :class => 'btn btn-default square-btn-adjust' %>

     <br/>
     <br/>
   </div>
<% end %>
