<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p>
  <strong>Full description:</strong>
  <%= @team.full_description %>
</p>
<p>
  <strong>Crest:</strong>
  <%= image_tag @team.crest.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
