<%- model_class = Team -%>

<h2><%=t '.title', :default => model_class.model_name.human.titleize %></h2>
<hr />

<% if flash[:notice] %>
    <div class="alert alert-info">
      <% flash.each do |name, msg| -%>
          <%= msg %>
      <% end %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="alert alert-danger">
      <% flash.each do |name, msg| -%>
          <%= msg %>
      <% end %>
    </div>
<% end %>

<%= image_tag @team.url_crest_thumb %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @team.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:full_description) %>:</strong></dt>
  <dd><%= @team.full_description %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")), teams_path, :class => 'btn btn-grey square-btn-adjust'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")), edit_team_path(@team), :class => 'btn btn-grey square-btn-adjust' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")), team_path(@team), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger square-btn-adjust' %>
