<%= bootstrap_form_for @round, :html => { :class => "form-horizontal round" } do |f| %>

  <% if @round.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@round.errors.count, t(:error)) %> <%= t :warn_save %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @round.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default">
      <div class="panel-heading">
        <%= t :panel_form %>
      </div><br/>

      <div class="control-group">
        <div class="controls">
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
        <%= error_span(@round[:name]) %>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.collection_select(:championship_id, @championships, :id, :name, prompt: t(:select)) %>
        </div>
        <%= error_span(@round[:championship_id]) %>
      </div>

      <%= f.submit nil, :class => 'btn btn-primary square-btn-adjust' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), rounds_path, :class => 'btn btn-grey square-btn-adjust' %>

      <br/>
      <br/>
  </div>

<% end %>