<p id="notice"><%= notice %></p>

<h1><%= t(:listingRounds) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.name %></td>
        <td><%= link_to t(:show), round %></td>
        <td><%= link_to t(:edit), edit_round_path(round) %></td>
        <td><%= link_to t(:destroy), round, method: :delete, data: { confirm: t(:confirmMessage)} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:newRound), new_round_path %>
