<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>:: <%= t(:sisbol) %> ::</title>
  <!-- BOOTSTRAP STYLES-->
  <link href="/assets/bootstrap.css" rel="stylesheet" />
  <!-- FONTAWESOME STYLES-->
  <!--<link href="/assets/font-awesome.css" rel="stylesheet" />-->
  <!-- MORRIS CHART STYLES-->
  <link href="/assets/morris-0.4.3.min.css" rel="stylesheet" />
  <!-- CUSTOM STYLES-->
  <link href="/assets/custom.css" rel="stylesheet" />
  <!-- GOOGLE FONTS-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div id="wrapper">
  <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= session[:user_name] %></a>
    </div>

    <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;">
      <%= t(:last_access) %>: <%= session[:last_access] %> &nbsp;

      <%= link_to "Sair",
                  logout_path,
                  :method => 'delete',
                  :class => 'btn btn-danger square-btn-adjust' %>


    </div>
  </nav>
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li class="text-center">
          <%= image_tag session[:url_avatar], class: "user-image img-responsive" %>
        </li>
        <li>
          <a href="/"><i class="fa fa-home fa-3x"></i><%= t(:dashboard) %></a>
        </li>
        <li>
          <a href="/championships"><i class="fa fa-desktop fa-3x"></i><%= t(:championship) %></a>
        </li>
        <li>
          <a href="/rounds"><i class="fa fa-bookmark-o fa-3x"></i><%= t(:round) %></a>
        </li>
        <li>
          <a href="/teams"><i class="fa fa-shield fa-3x"></i><%= t(:team) %></a>
        </li>
        <li>
          <a href="/users"><i class="fa fa-user fa-3x"></i><%= t(:user) %></a>
        </li>
        <li>
          <a  href="/change_password"><i class="fa fa-key fa-3x"></i><%= t(:change_password) %></a>
        </li>
        <li>
          <a  href="/matches"><i class="fa fa-futbol-o fa-3x"></i>Partidas</a>
        </li>
      </ul>

    </div>

  </nav>

  <div id="page-wrapper" >
    <div id="page-inner">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="/assets/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="/assets/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="/assets/jquery.metisMenu.js"></script>
<!-- MORRIS CHART SCRIPTS -->
<script src="/assets/raphael-2.1.0.min.js"></script>
<script src="/assets/morris.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="/assets/custom.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
